App/appFacturacion/appFacturacion/Service References/ServicioProducto/Producto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Capadenegocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Capadenegocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatalogoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogoProducto" nillable="true" type="tns:CatalogoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogoProducto" nillable="true" type="tns:ArrayOfCatalogoProducto" />
  <xs:complexType name="CatalogoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contiene" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAlterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Iva" type="xs:boolean" />
      <xs:element minOccurs="0" name="Laboratorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio3" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio4" type="xs:decimal" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadDeMedida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoProducto" nillable="true" type="tns:CatalogoProducto" />
</xs:schema>