Aplicación/appFacturacion/CapaDePresentacionAppWeb/Service References/ServicioProducto/Producto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6900/Producto/Producto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Capadenegocio" />
  <xs:element name="Listado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAlterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdOriginal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Aplicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Capadenegocio" minOccurs="0" name="ListadoResult" nillable="true" type="q1:ArrayOfCatalogoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nuevo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>